[Unit]
Description=Run Link Watchdog every {{ link_watchdog_interval }} seconds

[Timer]
OnBootSec=30s
OnUnitActiveSec={{ link_watchdog_interval }}s
AccuracySec=10s
Unit=link-watchdog.service

[Install]
WantedBy=timers.target