[Unit]
Description=JANR 5G Access Point (hostapd)
Wants=systemd-networkd.service
After=systemd-networkd.service

[Service]
Type=simple
ExecStart=/usr/sbin/hostapd /etc/hostapd/janr-hostapd.conf
Restart=on-failure
RestartSec=3
KillSignal=SIGINT

AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target