[Unit]
Description=Hostapd Service (5 GHz AP)
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/hostapd /etc/hostapd/hostapd-5g.conf
Restart=on-failure
RestartSec=2
KillSignal=SIGINT

AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target