[Unit]
Description=Hostapd 2.4GHz Access Point
Wants=network.target
After=network.target
After=sys-subsystem-net-devices-{{ two_g_lan_interface }}.device

[Service]
Type=simple

ExecStart=/usr/sbin/hostapd /etc/hostapd/hostapd-2g.conf

Restart=on-failure
RestartSec=3

StandardOutput=journal
StandardError=journal

# Basic hardening (safe for AP workloads)
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target