port=0
bind-dynamic
dhcp-authoritative

# --------------------
# 5G NETWORK
# --------------------
interface={{ five_g_lan_interface }}

dhcp-range=set:fiveg,{{ five_g_dhcp_start }},{{ five_g_dhcp_end }},{{ dhcp_lease_time | default('12h') }}

dhcp-option=tag:fiveg,3,{{ five_g_lan_ip | regex_replace('/.*','') }}
dhcp-option=tag:fiveg,6,{{ upstream_dns_servers | join(',') }}

# --------------------
# 2.4G NETWORK
# --------------------
interface={{ two_g_lan_interface }}

dhcp-range=set:twog,{{ two_g_dhcp_start }},{{ two_g_dhcp_end }},{{ dhcp_lease_time | default('12h') }}

dhcp-option=tag:twog,3,{{ two_g_lan_ip | regex_replace('/.*','') }}
dhcp-option=tag:twog,6,{{ upstream_dns_servers | join(',') }}