# /etc/tmpfiles.d/janr.conf

d /run/janr/log 0755 root root -
d /run/janr/blocklist/rpz 0755 root root -
d /run/janr/blocklist/artifacts/downloads 0755 root root -
d /run/janr/blocklist/artifacts/rpz 0755 root root -
