#!/usr/bin/env python3

from dataclasses import dataclass


UPDATE_INTERVAL = {{ update_interval }}


@dataclass(frozen=True)
class Blocklist:
    id: str
    name: str
    enabled: bool
    format: str
    transformers: list
    url: str


BLOCKLISTS = [
{% for blocklist in blocklists %}
    Blocklist(
        id="{{ blocklist.id }}",
        name="{{ blocklist.name }}",
        enabled={{ blocklist.enabled | capitalize}},
        format="{{ blocklist.format }}",
        transformers=[
        {% for t in blocklist.transformers %}
            "{{ t }}",
        {% endfor %}
        ],
        url="{{ blocklist.url }}",
    ),
{% endfor %}
]