#!/usr/bin/env python3

from dataclasses import dataclass


UPDATE_INTERVAL = {{ update_interval }}


@dataclass(frozen=True)
class Asset:
    id: str
    feed_name: str
    dataset_name: str
    parser_name: str
    preserve_artifacts: bool


@dataclass(frozen=True)
class Blocklist:
    id: str
    name: str
    enabled: bool
    assets: list


BLOCKLISTS = [
{% for blocklist in blocklists %}
    Blocklist(
        id="{{ blocklist.id }}",
        name="{{ blocklist.name }}",
        enabled={{ 'True' if blocklist.enabled else 'False' }},

        assets=[
{% for asset in blocklist.assets %}
            Asset(
                id="{{ asset.id }}",
                feed_name="{{ asset.feed_name }}",
                dataset_name="{{ asset.dataset_name }}",
                parser_name="{{ asset.parser_name }}",
                preserve_artifacts={{ 'True' if asset.preserve_artifacts else 'False' }}
            ){% if not loop.last %},{% endif %}
{% endfor %}
        ],
    ){% if not loop.last %},{% endif %}
{% endfor %}
]
